# Block Release

This notebook contains the skeleton of the code to be used for the tasks.

## Imports

In [3]:
import pandas as pd
import requests
import json

## Locations

In [4]:
# coordinates are latitude, longitude pairs
LOCATION_UNIVERSITY_PARK = (52.93726647677705, -1.1959384006396074)
LOCATION_JUBILEE_CAMPUS = (52.95232635429298, -1.1862643609249397)
LOCATION_NOTTINGHAM_CITY_CENTRE = (52.953, -1.149)

## API

You will need to add more API URLs here as needed to complete the stories.

In [5]:
API_STREET_CRIME = "https://data.police.uk/api/crimes-street/"
API_CRIME_CATS = "https://data.police.uk/api/crime-categories?date=2023"

## Crimes Near University Park Campus

Example function which calculates the number of crimes within 1 mile of University Park campus.

In [6]:
def count_crimes_within_1_mile(
    crime:str, lat: float, lon: float, year: int, month: int
) -> int:
    """Calculate number of crimes within 1 mile of a location for a date.

    Args:
        crime (str): the specifci crime to query
        lat (float): Latitude of the location.
        lon (float): Longitude of the location.
        year (int): Year to find crimes.
        month (int): Month of the provided year to find crimes.

    Returns:
        int: Count of the crimes
    """
    url = (
        API_STREET_CRIME + f"{crime}?lat={lat}&lng={lon}&date={year}-{month}"
    )
    response = requests.get(url)
    if response.status_code == 200:
        return len(response.json())
    else:
        print(f"Error retrieving data: {response.status_code}")


print(count_crimes_within_1_mile("all-crime",*LOCATION_UNIVERSITY_PARK, 2023, 1))

135

## Crime Catergories

In [7]:
def crime_cats(
    year: int, month: int
) -> int:
    """Calculate number of crimes within 1 mile of a location for a date.

    Args:
        year (int): Year to find crimes.
        month (int): Month of the provided year to find crimes.

    Returns:
        int: Count of the crimes
    """
    
    url = (
        API_CRIME_CATS
    )
    response = requests.get(url)
    if response.status_code == 200:
        return (response.json())
    else:
        print(f"Error retrieving data: {response.status_code}")
        
crime_cat_json= crime_cats(2023, 1)
crime_cats = pd.DataFrame(crime_cat_json)
display(crime_cats[crime_cats.columns[::-1]])

                            name                    url
0                      All crime              all-crime
1          Anti-social behaviour  anti-social-behaviour
2                  Bicycle theft          bicycle-theft
3                       Burglary               burglary
4      Criminal damage and arson  criminal-damage-arson
5                          Drugs                  drugs
6                    Other theft            other-theft
7          Possession of weapons  possession-of-weapons
8                   Public order           public-order
9                        Robbery                robbery
10                   Shoplifting            shoplifting
11         Theft from the person  theft-from-the-person
12                 Vehicle crime          vehicle-crime
13  Violence and sexual offences          violent-crime
14                   Other crime            other-crime

## Bike Crimes Near University Campus's over summer

In [8]:
def count_crimes_within_1_mile(
    crime:str, lat: float, lon: float, year: int, month: int
) -> int:
    """Calculate number of crimes within 1 mile of a location for a date.

    Args:
        crime (str): the specifci crime to query
        lat (float): Latitude of the location.
        lon (float): Longitude of the location.
        year (int): Year to find crimes.
        month (int): Month of the provided year to find crimes.

    Returns:
        int: Count of the crimes
    """
    url = (
        API_STREET_CRIME + f"{crime}?lat={lat}&lng={lon}&date={year}-{month}"
    )
    response = requests.get(url)
    if response.status_code == 200:
        return len(response.json())
    else:
        print(f"Error retrieving data: {response.status_code}")


#    print(count_bikecrime_within_1_mile(*LOCATION_UNIVERSITY_PARK, 2023, 1))

In [21]:
crime_UP7=count_crimes_within_1_mile("bicycle-theft", *LOCATION_UNIVERSITY_PARK, 2022,7)
crime_UP8=count_crimes_within_1_mile("bicycle-theft", *LOCATION_UNIVERSITY_PARK, 2022,8)
crime_UP9=count_crimes_within_1_mile("bicycle-theft", *LOCATION_UNIVERSITY_PARK, 2022,9)
print([crime_UP7, crime_UP8, crime_UP9])

[4, 7, 8]

In [18]:
crime_JC7=count_crimes_within_1_mile("bicycle-theft", *LOCATION_JUBILEE_CAMPUS, 2022, 7)
crime_JC8=count_crimes_within_1_mile("bicycle-theft", *LOCATION_JUBILEE_CAMPUS, 2022, 8)
crime_JC9=count_crimes_within_1_mile("bicycle-theft", *LOCATION_JUBILEE_CAMPUS, 2022, 9)
print([crime_JC7, crime_JC8, crime_JC9])

[5, 10, 15]

In [19]:
crime_NCC7=count_crimes_within_1_mile("bicycle-theft", *LOCATION_NOTTINGHAM_CITY_CENTRE, 2022, 7)
crime_NCC8=count_crimes_within_1_mile("bicycle-theft", *LOCATION_NOTTINGHAM_CITY_CENTRE, 2022, 8)
crime_NCC9=count_crimes_within_1_mile("bicycle-theft", *LOCATION_NOTTINGHAM_CITY_CENTRE, 2022, 9)
print([crime_NCC7, crime_NCC8, crime_NCC9])

[28, 19, 15]

In [22]:
comparison_table= pd.DataFrame([[crime_UP7, crime_JC7, crime_NCC7],[crime_UP8, crime_JC8, crime_NCC8],[crime_UP9, crime_JC9, crime_NCC9]],
                  index=pd.Index(['July', 'August', 'Septmeber']),
                  columns=['University Park', 'Jubilee Campus', 'Nottingham City Centre'])

display(comparison_table)

           University Park  Jubilee Campus  Nottingham City Centre
July                     4               5                      28
August                   7              10                      19
Septmeber                8              15                      15